:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.5;
    background-color: #f3f3f3;
    text-rendering: optimizeSpeed;
  }

  /* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
button{
  border: none;
}

ul[role="list"]{
    list-style: none;
  }
a{
    text-decoration: none;
}



  /***********************************************/
/* CONTAINER STYLING */
/***********************************************/

.container{
    margin: 0 auto;
    width: min(1200px, 90%);
}

/* header */
header{
  padding: 1.5em 0;
}

.section {
  padding: 4rem 0;
}
.section-hero{
  /* border-bottom: 1px solid red; */
}
.section__title{
  width: min(700px, 90%);
  margin: 0 auto;
  margin-bottom: 5em;
}
.section__description{
  font-size: 1.8rem;
  color: var(--color-primary-darker);
}
.section__header{
 font-size: 3.3rem;
}


.flow > * + * {
  margin-top: var(--flow-spacer, 2em);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.header__logo{
  height: 4rem;
}


/***********************************************/
/* NAVIGATION STYLING */
/***********************************************/

.nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.nav__link{
    color: #444;
    font-size: 1.5rem;
    font-weight: 500;
}
.btn{
    background-color: var(--color-primary);
    padding: .8em 1.6em;
    border-radius: 6px;
    border: 0;
    outline: none;
    font-weight: 600;
    font-size: 1.5rem;
    /* box-shadow: 0 1125em 1em -1em hsl(12, 60%, 45%); */
}

.mobile-nav-toggle{
  display: none;
}

.hero{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 3rem 0;
  
}
.hero__content{
  flex: 1 1 45rem;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  align-items:start;
  text-align: left;
}
.hero__img {
  flex: 1 1 35rem;
  width: 45%;
  height: auto;
}
.hero__title{
  font-size: 3.5rem;
  line-height: 1.2;
}
.hero__text {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 2rem;
}
.hero__btn--text{
  display: inline-block;
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-primary-darker);
  cursor: pointer;
  transition: all 0.3s;
  padding-bottom: 3px;
  font-size: 1.8rem;
  color: var(--color-primary-darker);
  font-weight: 600;

}



/* FEATURES */
.features{
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.4rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3em;
}
.features__icon{
  width: 5.5rem;
  height: 5.5rem;
  background: var(--color-primary-opacity);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.features__icon svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-primary);
}

.features__header{
  font-size: 2.4rem;
}
.features__text{
  font-size: 1.7rem;
}
.features__img{
  width: 100%;
}


/* operations */
.operations{
  width: min(1100px, 90%);
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid var(--color-primary-darker);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em;
  padding: 3em;
}

.operations__tab-container{
  display: flex;
  flex-direction: column;
  
}
.operations__content{
  display: none;
}

.operations__content{
  display: none;
}
.operations__content--active{
  display: block;
}

.section--sign-up{
  background:  #37383d;
  text-align: center;
  padding: 8em 0;
  border-bottom: 1px solid #444;
}
.signup{
  width: min(700px, 90%);
  margin: 0 auto;

}
.signup__header{
  font-size: 2.5rem;
  color: #f3f3f3;

}
.section--sign-up .btn{
  font-size: 2rem;
}

.footer{
  background-color: #37383d;
  padding: 8em 0;
  text-align: center;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer__link{
  color: #eee;
  font-size: 1.5rem;
}
.footer__logo{
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
  height: 5rem;

}
.footer__copyright{
  color: #aaa;
  font-size: 1.5rem;
}

/* slider */
.slider{
  width: min(100rem, 90%);
  margin: 0 auto;
  position: relative;
  height: 50rem;
  /* overflow: hidden; */
}
.slide{
position: absolute;
top: 0;
width: 100%;
height: 50rem;

display: flex;
justify-content: center;
align-items: center;
/*creates the animation! */
transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn{
  position: absolute;
  top: 50%;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  color: #333;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.slider__btn--left{
  left: 6%;
  transform: translateX(-50%, -50%);
}
.slider__btn--right{
  right: 6%;
  transform: translateX(50%, -50%);
}
/* testimonial */
.testimonial{
  width: 60%;
  position: relative;
}
.testimonial::before{
  content: '\201C';
  position: absolute;
  top: -9.7rem;
  left: -6.8rem;
  font-size: 20rem;
  color: var(--color-primary);
  /* z-index: -1; */
}
.testimonial__header{
  font-size: 2rem;
}
.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo{
  grid-row: 1 / span 2;
  border-radius: 50%;
  width: 6rem;
}

.testimonial__name{
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0;
}
.testimonial__location {
  font-size: 1.5rem;
}



/*FROM MOBILE SIZE */
@media(max-width: 544px){
  .features{
    grid-template-columns: 1fr;
  }
  .section--sign-up .btn{
    font-size: 1.5rem;
  }

  .testimonial{
    width: 80%;
    text-align: center;
  }
  .testimonial::before{
    top: -3.5rem;
    left: -1.6rem;
    font-size: 10rem;
  }
  .testimonial__author{
    column-gap: 1rem;
    text-align: left;
  }

  .slider__btn{
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2rem;
  }

  .slider__btn--left{
    left: .5%;
  }
  .slider__btn--right{
    right: .5%;
  }
}

/*FROM TABLETS SIZE */
@media(max-width: 768px){

   .primary-navigation{
    display: none;
    position: absolute;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-in;
    transform: translateX(100%);
    width: 100%;
    height: auto;
    
   }


   .primary-navigation[data-visible] {
    display: flex;
    transform: translateX(0);
    

  }
  .nav__list{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15em;
    padding: 4em 2em;
    
  }
  .mobile-nav-toggle {
    display: block;
    background-color: transparent;
    background-image: url("/img/icon-hamburger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2.5rem;
    aspect-ratio: 1;
    cursor: pointer;
    z-index: 20;

  }
  
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("/img/icon-close.svg");
  }


/* HERO */
  .hero__title {
    font-size: 3.5rem;
  }

  .hero__text {
    font-size: 1.4rem;
  }
  .hero__content{
    justify-content: center;
    align-items: center;
    text-align: center;
   }
   .hero__img {
    max-width: 50rem;
    margin: 0 auto;
   } 

   .features{
    column-gap: 4.8rem;
    row-gap: 6.4rem;
    
   }


}
  


@media  (min-width: 768px){
  /* .hero{
    text-align: center;
  }
  .hero__title {
    font-size: 5.5rem;
  }

  .hero__text {
    font-size: 2.4rem;
  }

  .hero__img {
    max-width: 50rem;
  }  */
  /* .hero__content{
   justify-content: center;
   align-items: center;
  }
  .hero__img {
   max-width: 50rem;
   margin: 0 auto;
  }  */
}

@media  (min-width: 945px) {

  

  .hero__title {
    font-size: 6.2rem;
  }
  .signup__header{
    font-size: 3.5rem;
   
  
  }
  
}




/***********************************************/
/* UTILITY CLASSES */
/***********************************************/
.visually-hidden {
    display: none;
    position: relative;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }
  .sticky{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    padding: 1.5em 0;
    width: 100%;
    height: 7rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
    z-index: 999;
  }

.section-hidden{
  opacity: 0;
  transform: translateY(8rem);
}
@media (max-width:768px){
  .display-sm-none{
    display: none;
}

}
